$header-font: Kaushan Script
$header-color: #C5FF9B
$paragraph-font: Lato
$border-radius: 20px, 20px, 20px, 0px
    
    
body
    background-color: #B3C8B1
    .main-title
        font-family: $header-font
        padding-right: 10px
    .main-logo
        height: 70px
        width: 70px
        margin-left: 10px
    .home-img
        height: 275px
        width: 275px
    .card-divider
        background-color: #95a28b
        font-family: $header-font
        font-size: 24px
    .card-section
        background-color: #c5ff9b
    #intro-section
        display: flex
        align-items: center
    .card
        background-color: #c5ff9b
    h4
        font-family: $paragraph-font
    h3
        font-family: $header-font
    p
        font-family: $paragraph-font
    .callout
        width: 500px
    .menu
        display: flex
        align-items: center
        justify-content: center
    label
        font-family: $paragraph-font