$header-font: Kaushan Script
$header-color: #C5FF9B
$paragraph-font: Lato
$border-radius: 20px, 20px, 20px, 0px
    
    
body
    background-color: #453256
    .main-title
        font-family: $header-font
    .main-logo
        height: 70px
        width: 70px
        margin-left: 5px
    .card-divider
        background-color: $header-color
        font-family: $header-font
        font-size: 24px
    h4
        font-family: $paragraph-font
    h3
        font-family: $header-font
    .card
        border-color: black 
    p
        font-family: $paragraph-font
    .callout
        width: 500px
        height: 350px
    .menu
        display: flex
        align-items: center
    label
        font-family: $paragraph-font