body {
  background-color: #B3C8B1;
}

.hide{
  display: none;
}

.menu {
  background-color: #C5FF9B;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.effects-flavor-col{
  justify-content: center;
}

.output{
  display: flex;
  flex-direction: row;
  background-color:  #B3C8B1;
}

.list-descrip{
  display: flex;
  justify-content: center;
}

.effects {
  margin-left: auto !important;
  margin-right: 0 !important;
  height: fit-content;
}

.callout{
  margin-left: auto;
  margin-right: auto;
}

.tag-line{
  margin-left: auto;
}

.tag-line-text{
  padding-left: 5px;
}

.switch-paddle, .switch, .switch-input{
  width: 65px;
  height: 35px;
}

.age-ver{
  height: 400px !important;
}

#userbox{
  width: 900px;
}


input:checked~.switch-paddle{
  background-color: #5b724b;
}


/* screen is mobile, goes to mobile width */
@media only screen and (max-width: 300px){
  #userbox{
    width: 300px !important;
  }
  #usersymptom{
    width: 300px !important;
  }
  #symptombox{
    width: 250px !important;
  }
}
/* screen is mobile, goes to mobile width */
@media only screen and (max-width: 500px){
  #userbox{
    width: 500px !important;
  }
  #usersymptom{
    width: 500px !important;
  }
  #symptombox{
    width: 500px !important;
  }
}
