.hide{
  display: none;
}


.navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}


.card {
  margin-left: auto;
  margin-right: auto;
}

.effects-flavor-col{
  justify-content: center;
}

.output{
  display: flex;
  flex-direction: row;
  background-color:  #B3C8B1;
}

.list-descrip{
  display: flex;
  justify-content: center;
}

.effects {
  margin-left: auto !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.callout{
  margin-left: auto;
  margin-right: auto;
  background-color: #C5FF9B;
  padding: 0;
}

.tag-line{
  margin-left: auto;
}

.tag-line-text{
  padding-left: 5px;
}

.age-ver{
  height: 400px !important;
  margin-top: 10px;
}

#intro {
  margin-top: 10px;
}

#warningbox, #symptombox{
  margin-top: 10px;
}

#userbox {
  width: 750px;
}

li{
    list-style: none;
    list-style-position:inside;
    border-bottom: 1px solid black;
}
.menu{
  border: none;
}

input:checked~.switch-paddle{
  background-color: #5b724b;
}

#savedstrain{
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
}



/* screen is mobile, goes to mobile width */
@media only screen and (max-width: 300px){
  #userbox{
    width: 300px !important;
  }
  #usersymptom{
    width: 300px !important;
  }
  #symptombox{
    width: 250px !important;
  }
}
/* screen is mobile, goes to mobile width */
@media only screen and (max-width: 500px){
  #userbox{
    width: 500px !important;
  }
  #usersymptom{
    width: 500px !important;
  }
  #symptombox{
    width: 500px !important;
  }
}
